<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="mainbox">
		<div class="topbox">
			<select class="intervalMoney" onchange="changeNumber()">
				<option value="0.1">0.1</option>
				<option value="0.2">0.2</option>
				<option value="0.5">0.5</option>
			</select>
			<select class="startMoney" onchange="changeNumber()">
				<option value="0.1">0.1</option>
				<option value="0.5">0.5</option>
				<option value="1">1</option>
				<option value="5">5</option>
				<option value="10">10</option>
			</select>
			
		</div>
		<table>
			<tbody id="generate-table">
				
			</tbody>
		</table>
	</div>
	<script>
		/***
		 * 
		 * 创建21*26列空白table
		 * 
		 */
		(function createTable(){
			var a = document.getElementById('generate-table');
			var tbody_html = "";
			for ( var i = 0 ; i < 22 ; i++){
				var tr_html = "";
				var colNum = 25;
				if (i == 21) {
					colNum = 23;
				}
				for ( var j = 0; j < colNum ; j++){
					tr_html += "<td></td>";
				}
				tr_html = "<tr>" + tr_html + "</tr>";
				tbody_html += tr_html;
			}
			a.innerHTML = tbody_html;
		}) ()
		/*
		 *根据初始金额和间隔金额回填表格
		 */
		function fillNumber(firstNum, numInterval){
			var commonNum = firstNum - numInterval;
			var temp = 1;
			for ( var i = 0; i < 22; i++){
				if (i < 3) {
					if (i ==0 ) {
						var a = document.getElementById('generate-table').getElementsByTagName('tr')[0].getElementsByTagName('td');
						for ( var j = 0; j < 26; j++){
							if ( (j > 3 && j < 10) || ( j > 13 && j < 20) ){
								commonNum = (commonNum*10+ numInterval*10) / 10;
								a[j].innerHTML = "<a onclick='changeColor(this)'>" + commonNum + '</a>';
							} 
						}

					} else if (i == 1){
						var a = document.getElementById('generate-table').getElementsByTagName('tr')[1].getElementsByTagName('td');
						for ( var j = 0; j < 25; j++){
							if ( (j > 2 && j < 10) || ( j > 13 && j < 22) ){
								commonNum = (commonNum*10+ numInterval*10) / 10;
								a[j].innerHTML = "<a onclick='changeColor(this)'>" + commonNum + '</a>';
							} 
						}

					}else if (i == 2) {
						var a = document.getElementById('generate-table').getElementsByTagName('tr')[2].getElementsByTagName('td');
						for ( var j = 0; j < 25; j++){
							if ( (j > 0 && j < 11) || ( j > 12 && j < 23) ){
								commonNum = (commonNum*10+ numInterval*10) / 10;
								a[j].innerHTML = "<a onclick='changeColor(this)'>" + commonNum + '</a>';
							} 
						}
					}

				} else if(i<10){
					var a = document.getElementById('generate-table').getElementsByTagName('tr')[i].getElementsByTagName('td');
					for ( var j = 0; j < 25; j++){
							commonNum = (commonNum*10+ numInterval*10) / 10;
							a[j].innerHTML = "<a onclick='changeColor(this)'>" + commonNum + '</a>';	
						}

				}  else if (i < 21) {
					var a = document.getElementById('generate-table').getElementsByTagName('tr')[i].getElementsByTagName('td');
					for ( var j = temp; j < 25 - temp; j++){
							commonNum = (commonNum*10+ numInterval*10) / 10;
							a[j].innerHTML = "<a onclick='changeColor(this)'>" + commonNum + '</a>';
							
					}
					temp = temp + 1;

				} else {
					var a = document.getElementById('generate-table').getElementsByTagName('tr')[21].getElementsByTagName('td');
								a[11].innerHTML = "End";
								a[11].setAttribute('colspan', '3');

				}
			}

		}
		// 初始化回填
		fillNumber(0.1,0.1);

		//下拉菜单改变初始金额和间隔金额并由此修改表格中的数字
		function changeNumber() {
			var myselect1=document.getElementsByClassName("startMoney")[0];
			var index1=myselect1.selectedIndex; 
			var selectStartMoney = myselect1.options[index1].value;

			var myselect2=document.getElementsByClassName("intervalMoney")[0];
			var index2=myselect2.selectedIndex; 
			var selectIntervalMoney = myselect2.options[index2].value;
			fillNumber(selectStartMoney,selectIntervalMoney)
		}
		//点击金额单元格，出现确认弹窗，改变单元格背景颜色
		function changeColor(obj) {
			var result = confirm("真的要存"+obj.innerHTML+"吗");
			if (result){
				obj.parentNode.setAttribute('class','clicked');
			}
		}

		//1.已经填过了，想要取消
		//2. 30次， 100次，200次，300次，365次存完钱有温馨提示
		//3.标题，日期，金额随着设定的初始金额和间隔金额而变化，已存金额
		//4.优化下拉列表
		//5.兼容浏览器窗口大小，自适应，滚动条
		//6.****保存历史记录，若当日无存款更新，23:00钉钉机器人提示
		//7.加速模式，自己选

	</script>
</body>
</html>