<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../../static/css/register.css">
</head>
<body>
	 	
 	<div class="register-box">
 		<h2>用户注册</h2>
 		<div id="login">
 			<div>
 				<span>用户名</span>
 				<input type="text" id="username" placeholder="请输入用户名" autocomplete="off" >
 			</div>
 			<div>
 				<span>邮箱地址</span>
 				<input type="text" id="email" placeholder="请输入邮箱地址" autocomplete="off" >
 			</div>
 			<div>
 				<span>密码</span>
 				<input type="password" id="password" placeholder="请输入密码" >
 			</div>
 			<div>
 				<span>确认密码</span>
 				<input type="password" id="repassword" placeholder="请再次输入密码" >
 			</div>
 		</div>
 		<div class="button">
 			<a class="click-register" onclick="register()">注册</a>
 			<a class="back-to-login" href="login.html">返回登录</a>
 		</div>
 	</div>
 	<script type="text/javascript" src="../../static/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript">
	 	function register() {
	 		var url = 'http://ningninga.4zcf.com:1789/register';
	 		var username = $('#username').val();
	 		var password = $('#password').val();
	 		var repassword = $('#repassword').val();
	 		var email = $('#email').val();
	 		$.ajax({
 				url: url,
				type: "post",
				data: {
  					'username': username,
  					'email':email,
  					'password':password,
  					'repassword':repassword
 				},
 				success: function (data) {
  					if (data.message === 'error') {
  						alert(data.result);
   
  					} else if (data.message === 'warning') {
  						alert(data.result);
   
  					} else {
  						alert(data.result);
  						window.location.href = "login.html";
   
  					}
 				},
 				error: function (result) {
  
 				},
			 	dataType: 'json',
			 	timeout: 30 * 1000,
			});

	 	}
	</script>

</body>
</html>